variables:
  GITLAB_CI_IMAGE_PYTHON3: 'python:3.8'
  GITLAB_CI_PYPI_TOX: 'tox~=3.24.0'

stages:
  - static
static:
  stage: static
  image: ${GITLAB_CI_IMAGE_PYTHON3}
  variables:
    PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
    PRE_COMMIT_HOME: "$CI_PROJECT_DIR/.cache/pre-commit"
  before_script:
    - pip install virtualenv
    - virtualenv venv
    - source venv/bin/activate
    - pip install pre-commit -e '.[dev]'
    - pre-commit install
  script:
    - pre-commit run --all-files
  cache:
    paths:
      - .cache/pip
      - .cache/pre-commit

test:
  stage: static
  image: ${GITLAB_CI_IMAGE_PYTHON3}
  before_script:
    - pip install "$GITLAB_CI_PYPI_TOX"
  script:
    - tox -e "pytest"
