repos:
- repo: https://github.com/PyCQA/isort
  rev: 5.12.0
  hooks:
    - id: isort
- repo: https://github.com/PyCQA/flake8
  rev: 6.0.0
  hooks:
    - id: flake8
- repo: https://github.com/PyCQA/pylint
  rev: v2.16.1
  hooks:
    - id: pylint
      exclude: versioneer.py
      additional_dependencies: [pytest~=7.2.1]
- repo: https://github.com/google/yapf
  rev: v0.32.0
  hooks:
    - id: yapf
