[MASTER]
ignore=_version.py
[MESSAGE CONTROL]
disable=
    C0111, # missing-docstring
    E0401, # import-error
    W0621, # redefined-outer-name
    C0103, # invalid-name
    R1716, # chained-comparison
    R0913, # too-many-arguments
    R0914, # too-many-locals
    W0703, # broad-except
    R0903, # too-few-public-methods
    W1201, # logging-not-lazy
    R0902, # too-many-instance-attributes
    R0903, # too-few-public-methods
