version: '3.7'
services:
  satnogs_auto_scheduler:
    build:
      context: .
    image: 'librespace/satnogs-auto-scheduler:latest'
    user: '999'
    command: 'schedule_single_station.py --help'
    read_only: true
      #env_file:
      # - ./station.env
    volumes:
      - type: 'tmpfs'
        target: '/tmp'

