version: '3.7'
services:
  satnogs-auto-scheduler:
    build:
      context: .
    image: 'registry.gitlab.com/librespacefoundation/satnogs/satnogs-auto-scheduler/satnogs-auto-scheduler:master'
    user: '999'
    command: "schedule_single_station.py --help"
    read_only: true
    # env_file:
    #  - ./station.env
    volumes:
      - type: 'tmpfs'
        target: '/tmp'
