# Copy this file to .env and complete the information needed

# Your SatNOGS network API token
SATNOGS_API_TOKEN = ''

# Your SatNOGS DB API token (optional, but recommended)
SATNOGS_DB_API_TOKEN = ''
